@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Days+One&display=swap");

:root {
    --red-accent: rgba(247, 44, 37, 1);
    --cultured-section-bg: rgba(244, 245, 246, 1);
    /*same as default black and white*/
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    /*header background, when background image doesnt load for some reason*/
    --dark-electric-blue:rgba(73, 106, 129, 1);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:rgba(255, 255, 255, 1);
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;
}

nav {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: var(--red-accent);
    font-family: "Days One", sans-serif;
    display: flex;
    justify-content: space-around;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--black);
}

nav a {
    font-family: "Days One", sans-serif;
    text-decoration: none;
}

nav div {
    align-content: center;
    padding: 1vh;

}

header {
    width: 100%;
    height: 60vh;
    background-image: url("../assets/alternatehero.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--dark-electric-blue);
}



h1 {
    margin-top: 4px;
    padding-top: 10vh;
    font-size: 4em;
    text-align: center;
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black);
    font-family: "Days One", sans-serif;
    text-shadow: 4px 4px  var(--red-accent);


}
h2 {
    margin-top: 4px;
}
h3 {
    margin-top: 2px;
    font-size: 1.05em;
}

section {
    border-radius: 15px 30px 15px 5px;
    background-color: var(--white);
    box-shadow: -2px 0 var(--red-accent);
    padding: 20px;
    margin: 2.5vh auto;
    color: var(--black);
    font-size: 1.1em;
    max-width: 80vw;
}

.imagegallery {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.imagegallery figure {
    display: block;
}

.imagegallery img {
    width: 100%;
    height: auto;
    border-bottom: 4px solid var(--red-accent);
}

footer {
    background-color:  var(--red-accent);
    font-family: "Cabin", sans-serif;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    text-align: center;
}

footer div #icons {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

@media (max-width: 780px) {
    /*mobile view*/
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    header {
        height: 25vh;
    }
    h1{
        margin-top: 15vh;
    }
    @media (max-width: 550px) {
        /*too small to show photos side by side*/
        .imagegallery {
            flex-direction: column;
        }
    }
}